
node_modules/


.env
.env.local
.env.*.local


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.npm
.cache
.parcel-cache
.eslintcache


dist
build


.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db


coverage/


*.sqlite
*.db


data_base/